.AppButton {
  position: fixed;
  width: 72px;
  height: 32px;
  border-radius: 8px;
  background: #ffffff;
  color: #1d1d1d;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
}
