.GLSLWrap {
  position: fixed;
  width: 100%;
  height: 100%;
}

.GLSLPlayButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 32px;
  margin-bottom: 32px;
  width: 72px;
  height: 32px;
  border-radius: 8px;
  background: #ffffff;
  color: #1d1d1d;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
}
